.icon-home:before {
    content: "\e904";
}

.icon-dashboard:before {
    content: "\e901";
}

.icon-search:before {
    content: "\e90b";
}

.icon-notification:before {
    content: "\e908";
}

.icon-help:before {
    content: "\e903";
}

.icon-setting:before {
    content: "\e90c";
}

.icon-navigation_arrow:before {
    content: "\e907";
}

.icon-close:before {
    content: "\e914";
}

.icon-risk:before {
    content: "\e912";
}

.icon-vote:before {
    content: "\e913";
}

.icon-issue:before {
    content: "\e911";
}

.icon-block:before {
    content: "\e90f";
}

.icon-flag:before {
    content: "\e910";
}

.icon-more:before {
    content: "\e921";
}

.icon-attachment:before {
    content: "\e929";
}

.icon-comment:before {
    content: "\e92a";
}

.icon-link:before {
    content: "\e92b";
}

.icon-todo:before {
    content: "\e92c";
}

.icon-size:before {
    content: "\e926";
    font-size: 13px !important;
}

.icon-rank:before {
    content: "\e924";
    font-size: 14px !important;
}

.icon-progress:before {
    content: "\e923";
}

.icon-dueDate:before {
    content: "\e91e";
} 

.icon-iteration:before {
    content: "\e922";
} 

.icon-process:before {
    content: "\e923";
} 

.icon-istimate:before {
    content: "\e92d";
}

.icon-board:before {
    content: "\e906";
}

.icon-left-arrow:before {
    content: "\e917";
}

.icon-plus:before {
    content: "\e91b";
}

.icon-minus:before {
    content: "\e91a";
}

.icon-expand:before {
    content: "\e918";
}

.icon-collaps:before {
    content: "\e919";
}

.icon-plus-expand, .icon-minus-collapse {
    color: #ffffff;
    border-width: 2px;
    border-style: solid;
    font-size: 8px;
    height: 15px;
    width: 15.7px;
    text-align: center;
    line-height: 1.5;
}

.icon-plus-expand {
    background-color: #d8d8d8;
}

.icon-minus-collapse {
    background-color: #5C6A72;
}

.icon-plus-expand:before {
    content: "\e918";
}

.icon-minus-collapse:before {
    content: "\e919";
}

.icon-plus-circular:before {
    content: "\e917";
}

.icon-plus-filled:before {
    content: "\e91c";
}

.icon-filter:before {
    content: "\e902";
}

.icon-refresh:before {
    content: "\e90a";
}

.icon-user-add:before {
    content: "\e91d";
}

.icon-delete:before {
    content: "\e93b";
}

.icon-edit:before {
    content: "\e93c";
}

.icon-save-file:before {
    content: "\e93d";
}

.icon-down-filled-arrow:before {
    content: "\e93e";
}

.icon-attachment-clip:before {
    content: "\e93f";
}

.icon-underlined:before {
    content: "\e940";
}

.icon-strikethrough:before {
    content: "\e941";
}

.icon-bold:before {
    content: "\e942";
}

.icon-italic:before {
    content: "\e943";
}

.icon-A-text:before {
    content: "\e944";
}

.icon-aligned-left:before {
    content: "\e945";
}

.icon-aligned-right:before {
    content: "\e948";
}

.icon-justified-paragraph:before {
    content: "\e946";
}

.icon-aligned-center:before {
    content: "\e947";
}

.icon-bullet-list:before {
    content: "\e949";
}

.icon-number-list:before {
    content: "\e94a";
}

.icon-link:before {
    content: "\e94b";
}

.icon-break:before {
    content: "\e94c";
}

.icon-move:before {
    content: "\e94d";
}

.icon-restore:before {
    content: "\e94e";
}

.icon-card_WBS:before {
    content: "\e94f";
}

.icon-navigation_back_arrow:before {
    content: "\e950";
}

.icon-close_circle:before {
    content: "\e951";
}

.icon-AddLeft1:before {
    content: "\e952";
}

.icon-AddRight1:before {
    content: "\e953";
}

.icon-BoardSetting:before {
    content: "\e954";
}

.icon-Bucket:before {
    content: "\e955";
}

.icon-HSplit:before {
    content: "\e956";
}

.icon-MoveLeft1:before {
    content: "\e957";
}

.icon-MoveRight1:before {
    content: "\e958";
}

.icon-VSplit:before {
    content: "\e959";
}

.icon-right-arrow:before {
    content: "\e917";
}

.icon-right-arrow1:before {
    content: "\e95a";
}

.icon-icon-restore:before {
    content: "\e95b";
}

.icon-icon-move:before {
    content: "\e95c";
}

.icon-landscape:before {
    content: "\e95e";
}

.icon-success:before {
    content: "\e95d";
}

.icon-info:before {
    content: "\e95f";
}

.icon-Warning:before {
    content: "\e960";
}

.icon-Error:before {
    content: "\e961";
}